h1 {
	font-family: "Roboto";
}
h2 {
	font-family: "Roboto";
	text-align: center;
	color: $color_grey;
}
h3, h4 {
	font-family: "Roboto";
	margin: 0px;
	color: $color_grey;
	padding: 0px;
}
div {
	font-family: "Roboto";
}
form {
	input {
		width: 90%;
		width: calc(100% - 20px);
		padding: 10px;
		border: solid 1px $color_primary2;
		margin: 5px 0px;
		outline: none;
		box-shadow: 1px 1px 3px -1px $color_grey;
	}
	button {
		margin-top: 5px;
	}
}
img {
	max-width: 100%;
}

button {
	outline: none;
	background-color: $color_primary3;
	color: white;
	border: solid 1px $color_primary2;
	box-shadow: 1px 1px 3px -1px $color_grey;
	@include clearfix;
	.icon {
		display: block; float: left;
		padding: 5px;
	}
	.text {
		display: block; float: left;
		padding: 5px;
	}
}