header {
	@include clearfix;
	&.container {
		padding-bottom: 0px;
	}
	.buttons {
		float: right;
		margin: 0px;
		button {
			background-color: transparent;
			box-shadow: none;
			color: $color_grey;
			border: none;
			&:hover {
				color: $color_primary2;
			}
		}
	}
}