<div class="page home">
	<div class="row container pengantar">
		<h4>IF5249-Kewirausahaan Teknologi Informasi</h4>
		<img src="uploads/ganesha.jpg" alt="">
		<h4>Noviana Riza - 23513107</h4>
		<div class="infoproduk">
			<b><u>Technobatik</u></b>, alternatif bisnis dengan <b>pemanfaatan teknologi dan fashion</b>, membuat batik yang dapat di customize untuk mempermudah atau menyempurnakan kebutuhan pelanggan dalam memperoleh <b>sarimbIT (seragam batik keluarga) terbaik</b> melalui <b>desain yang sangat personal</b> di belanja online yang belum pernah ada sebelumnya, sehingga menghasilkan kepuasan dan kenyamanan berbelanja produk yang diinginkan melalui sebuah aplikasi berbasis web. 
		</div>
	</div>

	<div class="row container">
		<div class="col-sm-8 carousel">
			<h4>&nbsp;</h4>
			<ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
				<li>
					<img src="uploads/slider1.jpg" alt="">
				</li>
				<li>
					<img src="uploads/slider2.jpg" alt="">
				</li>
				<li>
					<img src="uploads/slider3.jpg" alt="">
				</li>
			</ul>
		</div>
		<div class="col-sm-4 register">
			<h3 class="title">Register</h3>
			<form ng-submit="registerSubmit()">
				<input type="text" placeholder="username" ng-model="registerData.username">
				<input type="email" placeholder="email" ng-model="registerData.email">
				<input type="password" placeholder="password" ng-model="registerData.password">
				<input type="password" placeholder="ulangi password" ng-model="registerData.password2">

				<button>
					<span class="icon">
						<i class="fa fa-user-plus"></i>
					</span>
					<span class="text">Register</span>
				</button>
				<br>
				<br>
				<span>Sudah punya akun? <a href="#/login">Login</a></span>
			</form>
		</div>
	</div>
	<div class="row container sponsors">
		<div class="wrapper">
			<h4 class="title">Our Beloved Sponsors : </h4>
			<img src="http://srv-live.lazada.co.id/cms/logo/themes_2014/lex2.jpg" alt="">
			<img src="http://srv-live-01.lazada.co.id/cms/logo/themes_2014/53x39_JNE.jpg" alt="">
			<img src="http://srv-live-01.lazada.co.id/cms/logo/themes_2014/53x39_Pandu-logistic.jpg" alt="">
			<img src="http://srv-live.lazada.co.id/cms/logo/themes_2014/first-53x39.png" alt="">
			<img src="http://srv-live.lazada.co.id/cms/logo/themes_2014/rpx-53x39.png" alt="">
			<img src="http://srv-live.lazada.co.id/cms/logo/themes_2014/tiki-53x39.png" alt="">
			<img src="http://srv-live.lazada.co.id/cms/logo/themes_2014/nexlogistics-59x39.png" alt="">
		</div>
	</div>
</div>