<div class="page login">
	<div class="row container" style="max-width: 400px;">
		<div class="col-sm-12 login">
			<h3 class="title">Login</h3>
			<form ng-submit="loginSubmit()">
				<input type="text" placeholder="username" ng-model="loginData.username">
				<input type="password" placeholder="password" ng-model="loginData.password">

				<button>
					<span class="icon">
						<i class="fa fa-user-plus"></i>
					</span>
					<span class="text">Login</span>
				</button>
				<br>
				<br>
				<span>Belum punya akun? <a href="#" ng-click="changePath('/')">Register</a></span>
			</form>
		</div>

	</div>
</div>