<div class="page model">
	<div class="row container">
		<h2>Pilih Model</h2>

		<div class="wrapper models koleksi">
			<ul class="items">
				<li style="background-image: url('editor/model1.png')" ng-click="changePath('/editor/1')">
					<div class="info">
						Blue Petal
					</div>
				</li>
			</ul>
		</div>
		<div class="wrapper models koleksi">
			<ul class="items">
				<li style="background-image: url('editor/model2.png')" ng-click="changePath('/editor/2')">
					<div class="info">
						Red Petal
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="wrapper models koleksi">
			<ul class="items">
				<li ng-repeat="model in modelData" style="background-image: url({{model.image}})" ng-click="changePath('/kostum/' + model.id)">
					<div class="info">
						{{model.nama}}
					</div>
				</li>
			</ul>
		</div> -->
	</div>
</div>