<div class="page editor">
	<div class="row container">
		
		<div class="wrapper order">
			<h1>Order</h1>
			<div class="col-sm-5">
				<div class="flash">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="300" id="main" align="middle">
						<param name="movie" value="editor/{{swf}}.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="window" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" id="main2" data="editor/{{swf}}.swf" width="400" height="300">
							<param name="movie" value="editor/{{swf}}.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#ffffff" />
							<param name="play" value="true" />
							<param name="loop" value="true" />
							<param name="wmode" value="window" />
							<param name="scale" value="showall" />
							<param name="menu" value="true" />
							<param name="devicefont" value="false" />
							<param name="salign" value="" />
							<param name="allowScriptAccess" value="sameDomain" />
							<!--<![endif]-->
							<a href="http://www.adobe.com/go/getflash">
								<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
							</a>
							<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
					</object>
				</div>
			</div>
			<div class="col-sm-7">
				<h3>{{currentModel.nama}}</h3>
				<div class="infoproduk">
					<p>
						{{currentModel.keterangan}}
					</p>
					<h4>Jumlah Order</h4>
					<table>
						<tr>
							<th></th>
							<th>Jumlah</th>
							<th>Harga Satuan</th>
							<th>Total Harga</th>
						</tr>
						<tr>
							<td>Ayah</td>
							<td><input type="text" ng-model="jumlah.ayah"></td>
							<td>Rp {{numberWithCommas(harga.ayah)}},-</td>
							<td>Rp {{numberWithCommas(harga.ayah * jumlah.ayah)}},-</td>
						</tr>
						<tr>
							<td>Ibu</td>
							<td><input type="text" ng-model="jumlah.ibu"></td>
							<td>Rp {{numberWithCommas(harga.ibu)}},-</td>
							<td>Rp {{numberWithCommas(harga.ibu * jumlah.ibu)}},-</td>
						</tr>
						<tr>
							<td>Anak Laki-laki</td>
							<td><input type="text" ng-model="jumlah.laki"></td>
							<td>Rp {{numberWithCommas(harga.laki)}},-</td>
							<td>Rp {{numberWithCommas(harga.laki * jumlah.laki)}},-</td>
						</tr>
						<tr>
							<td>Anak Perempuan</td>
							<td><input type="text" ng-model="jumlah.perempuan"></td>
							<td>Rp {{numberWithCommas(harga.perempuan)}},-</td>
							<td>Rp {{numberWithCommas(harga.perempuan * jumlah.perempuan)}},-</td>
						</tr>
						<tr>
							<td colspan="3">Total Harga</td>							
							<td><b>Rp {{numberWithCommas(totalHarga())}},-</b></td>
						</tr>
					</table>
				</div>
				<div class="buttons" ng-click="buyItem()">
					<button>
						<span class="icon"><i class="fa fa-cart-plus"></i></span>
						<span class="text">Lanjutkan Pembelian</span>
					</button>
				</div>
			</div>
		</div>

	</div>
</div>